section {
  background: url(../img_index/fon.jpg);
  width: 3840px;
  height: 2160px;
  /* z-index: -10; */
}

.subtitle {
  position: absolute;
  left: 674px;
  top: 260px;

  font-family: "CeraPro";
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 82px;

  color: #ffffff;
}

.btn {
  position: absolute;
  width: 550px;
  height: 127.26px;
  left: 3170px;
  top: 1929px;

  background: #ffffff;
  opacity: 0.9;
  border: 5px solid #4d7191;
  border-radius: 75px;
  font-family: "CeraPro";
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 82px;
  text-align: center;
  color: #3373bb;
}

.content {
  display: flex;
  gap: 85px;
  margin-top: 643px;
  margin-left: 753px;
}

.content__head-1 {
  position: relative;
  width: 906.82px;
  height: 158.65px;
  background: rgba(12, 40, 64, 0.75);
  border-radius: 60px 60px 0px 0px;
}

.content__head-1 h2 {
  font-family: "CeraPro";
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 65px;
  text-align: center;
  padding-top: 47px;
  color: #ffffff;
}

.content__head-1 img {
  position: absolute;
  left: -19px;
  /* z-index: -1; */
  top: 135px;
}

.look {
  position: absolute;
  top: 820px;
  left: 160px;
  width: 550px;
  height: 127.26px;
  background: #ffffff;
  opacity: 0.9;
  border: 5px solid #4d7191;
  border-radius: 75px;
  font-family: "CeraPro";
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 82px;
  text-align: center;

  color: #3373bb;
}

#fullscreen1 {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('/photo_archive/img/people_img2.png');
  background-size: contain;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-color: black;
  display: none;
}

#x {
  z-index: 2;
  position: fixed;
  width: 120px;
  height: 120px;
  top: 50px;
  right: 50px;
  background-image: url(/img_index/close-img.png);
  background-repeat: no-repeat;
}